.accordion-custom {
  &-item {
    margin-top: 3rem;
    &-trigger {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      padding-bottom: 32px;
      border-bottom: 2px solid #dfe5eb;
      transition: border-color 0.5s ease;
      &:hover {
        border-color: #1b73f0;
      }
      .item-left {
        .highlight_label {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 18rem;
          margin-bottom: 0.3rem;
          padding: 0.5rem 0.3rem;
          @include fontSize(16px);
          text-transform: uppercase;
          font-weight: 500;
          .orange-gradient {
            background: linear-gradient(to right, #ec2709, #f98756);
          }
          .dark-blue {
            background: linear-gradient(to right, #1a2429, #53899b);
          }
        }
        h3 {
          @include fontSize(32px);
          color: #000;
          margin-bottom: 5px;
        }
        p {
          margin: 0;
          @include fontSize(18px);
          color: #717171;
        }
      }
      .item-right {
        @include fontSize(19.2px);
        display: flex;
        align-items: center;
        gap: 10px;
        color: #1b73f0;
        i {
          @include fontSize(26px);
        }
      }
    }
    &-target {
      display: none;
    }
  }
}
