/* Categories */
.categories_inline {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 80px;
  @include tablet {
    gap: 40px;
  }
  @include mobile {
    gap: 20px;
  }
}
.category_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background-color: $primary-color;
  max-width: 130px;
  padding: 15px;
  @include border-radius(15px);
  .category_image {
    width: auto;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 90%;
      height: 90%;
      object-fit: contain;
    }
  }
  span {
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-align: center;
  }
}
