.curve-custom {
  @include mobile {
    display: none;
  }
  .added-bar {
    height: 50px;
    width: 100%;
    background-color: #3f67bc;
  }
  .curve-top-in {
    height: 50px;
    width: 100%;
    color: #3f67bc;
    transform: rotate(180deg);
  }
}
