.curve-custom {
  .added-bar {
    height: 50px;
    width: 100%;
    background-color: #506fb8;
  }
  .curve-top-in {
    height: 50px;
    width: 100%;
    color: #506fb8;
    transform: rotate(180deg);
  }
}
