.floating-images {
    @include mobile {
        display: none;
    }
    img {
        position: absolute;
        height: auto;
        @include mobile {
            width: 50px;
        }
    }
    .home-hot-air-ballon {
        right: 18%;
        bottom: 40%;
        width: 50px;
    }
    .home-cloud-left {
        left: 18%;
        bottom: 37%;
        width: 70px;
    }
    .home-cloud-right {
        right: 28%;
        bottom: 33%;
        width: 70px;
    }
}