.floating-images {
  @include mobile {
    display: none;
  }
  img {
    position: absolute;
    height: auto;
    @include mobile {
      width: 50px;
    }
    &.float-cloud {
      width: 70px;
      &-top-left {
        top: 25%;
        left: 5%;
      }
      &-center-left {
        top: 50%;
        left: 8%;
      }
      &-bottom-left {
        bottom: 37%;
        left: 18%;
      }
      &-center-right {
        top: 35%;
        right: 9%;
      }
      &-top-right {
        top: 10%;
        right: 10%;
      }
      &-bottom-right {
        bottom: 33%;
        right: 28%;
      }
    }
    &.float-hot-air-ballon {
      right: 18%;
      bottom: 40%;
      width: 50px;
    }
  }
}
