/* Header */
header {
  background-color: #fff;
  min-height: 80px;
  padding: 10px 0;
  border-bottom: 1px solid transparent;
  display: flex;
  align-items: center;
  .logo-holder {
    display: block;
    display: flex;
    align-items: center;
    height: 100%;
  }
  &.header_sticky {
    width: 100%;
    z-index: 999;
    position: relative;
    @include transition-default;
    &.sticky {
      border-bottom: 1px solid $border-color;
      position: fixed;
      left: 0;
      top: 0;
      z-index: 999;
    }
  }
  &.header_sticky2 {
    background-color: #f4f4f4;
  }
  &.header_map {
    width: 100%;
    border-bottom: 1px solid $border-color;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
  }
  &.static {
    position: static;
    border-bottom: 1px solid $border-color;
    z-index: 999;
    position: relative;
  }
}

// Main Logo
header.header_sticky.sticky {
  .main-logo {
    @include mobile {
      width: 35px;
      background-image: url(../img/choozpainters-small-logo_trp_back.png);
    }
  }
}
.main-logo {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 100%;
  width: 110px;
  &.logo-default {
    background-image: url(../img/choozpainters-logo-5_stars.png);
  }
  &.logo-contractor {
    background-image: url(../img/logo/chooz_painters_logo_1.png);
  }
}
/* logo home with h1 */
#logo_home {
  h1 {
    margin: 0;
    padding: 0;
    line-height: $line-height-none;
    a {
      width: 163px;
      height: 36px;
      display: block;
      background: url(../img/logo.png) no-repeat 0 0;
      background-size: 163px 36px;
      text-indent: -9999px;
    }
  }
}
/* Wow on scroll event */
.wow {
  visibility: hidden;
}

/*============================================================================================*/
/* 2.  CONTENT */
/*============================================================================================*/

/*-------- 2.1 Home--------*/
.hero_home {
  height: 750px;
  width: 100%;
  display: table;
  position: relative;
  @include mobile {
    height: 550px;
  }
  &.version_1 {
    background: $primary-color-old
      url(../img/hero_images/choozpainters-city-header-laptop-3.png) no-repeat
      center bottom;
    @include background-size(88%);
    @include mobile {
      background: $primary-color-old
        url(../img/hero_images/choozpainters-city-header-mobile-3.png) no-repeat
        center bottom;
      height: 600px;
      @include background-size(100%);
    }
    .content {
      @include rgba(bg, $primary-color-old, 0);
    }
  }
  &.version_gradient {
    background: linear-gradient(
      to bottom,
      $primary-color-old,
      $primary-color-old,
      #3f67bc
    );
    @include mobile {
      height: 600px;
    }
    .version_gradient_background_image {
      height: 100%;
      width: 88%;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background-image: url(../img/hero_images/choozpainters-city-header-laptop-5.png);
      background-size: contain;
      background-position: center bottom;
      background-repeat: no-repeat;
      @include mobile {
        width: 100%;
        background-image: url(../img/hero_images/choozpainters-city-header-mobile-4.png);
      }
    }
    .content {
      @include rgba(bg, $primary-color-old, 0);
    }
  }
  &.version_white {
    background: #fff
      url(../img/hero_images/choozpainters-city-header-laptop-3.png) no-repeat
      center bottom;
    @include background-size(88%);
    @include mobile {
      background: #fff
        url(../img/hero_images/choozpainters-city-header-mobile-3.png) no-repeat
        center bottom;
      height: 600px;
      @include background-size(100%);
    }
    .content {
      @include rgba(bg, $primary-color-old, 0);
      color: $primary-color-old;
      h3 {
        color: $primary-color-old;
      }
    }
  }
  &.version_2 {
    background: none;
    position: relative;
    overflow: hidden;
    height: 720px;
    display: block;
    &:before {
      background: $primary-color-old url(http://via.placeholder.com/1600x1067.jpg)
        no-repeat center center fixed;
      @include background-size(cover);
      animation: pop-in 3s 0.3s cubic-bezier(0, 0.5, 0, 1) forwards;
      content: "";
      opacity: 0;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
    }
    @include mobile {
      height: 550px;
    }
    .content {
      @include rgba(bg, $primary-color-old, 0.9);
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      @include tablet {
        padding: 0 10%;
      }
      @include mobile {
        padding: 120px 15px 0;
      }
    }
  }
  &.version_3 {
    background: $primary-color-old url(../img/via.placeholder.com/1600x1067.jpg)
      no-repeat center bottom;
    @include background-size(85%);
    @include mobile {
      height: 550px;
    }
    .content {
      @include rgba(bg, $primary-color-old, 0);
      padding: 0 25%;
      @include tablet {
        padding: 0 10%;
      }
      @include mobile {
        padding: 120px 15px 0;
      }
      p {
        margin: 0 0 45px 0;
      }
    }
  }
  .content {
    display: table-cell;
    padding: 120px 0 0;
    // vertical-align: middle;
    text-align: center;
    @include fontSize(21px);
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
    @include rgba(bg, $primary-color-old, 0.9);
    @include tablet {
      padding: 100px 30px 0;
    }
    @include mobile {
      @include fontSize(16px);
      padding: 100px 15px 0;
    }
    h3 {
      margin: 0 0 0 0;
      @include fontSize(50px);
      font-weight: 700;
      text-transform: uppercase;
      color: #fff;
      @include mobile {
        @include fontSize(42px);
      }
      @include extra-small-mobile {
        @include fontSize(32px);
      }
    }
  }
}
