.heading_contractor-sm {
  font-size: 16px;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 16px;
}
.heading_contractor {
  @include fontSize(32px);
  font-weight: 500;
  margin-bottom: 15px;
}
.contactor_address {
  margin-block-end: 10px;
  text-transform: capitalize;
}

.heading {
  color: $heading-color;
  &_primary_bigger {
    @include fontSize(72px);
    font-weight: 500;
    margin-bottom: 15px;
    @include mobile {
      @include fontSize(48px);
    }
  }
  &_primary {
    @include fontSize(48px);
    font-weight: 500;
    margin-bottom: 15px;
    @include mobile {
      @include fontSize(32px);
    }
  }
  &_secondary {
    @include fontSize(28px);
    font-weight: 700;
    margin-bottom: 40px;
    margin-left: 15px;
    @include mobile {
      @include fontSize(24px);
    }
  }
  &_sub_title {
    @include fontSize(18px);
    font-weight: 700;
    margin-bottom: 30px;
    margin-left: 15px;
    @include mobile {
      @include fontSize(16px);
    }
  }
  &_listing {
    @include fontSize(26px);
    font-weight: 600;
    margin-bottom: 10px;
    @include mobile {
      @include fontSize(22px);
    }
  }
  &_result {
    @include fontSize(18px);
  }
}
