.listing {
  padding: 30px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  &:not(:last-child) {
    margin-bottom: 30px;
  }
  &_main {
    margin-bottom: 20px;
    display: flex;
    gap: 25px;
    @include mobile {
      flex-direction: column;
    }
    figure {
      width: 35%;
      height: 100%;
      max-height: 170px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      margin: 0;
      img {
        width: 100%;
        max-width: 220px;
        height: 100%;
      }
      @include mobile {
        width: 100%;
        max-height: 150px;
      }
    }
    &_content {
      width: 65%;
      @include mobile {
        width: 100%;
      }
      ul {
        li {
          &:not(:last-child) {
            margin-bottom: 10px;
          }
          a {
            color: #464e5a;
            &.link {
              color: #1b73f0;
              i {
                color: #464e5a;
              }
            }
            &.btn-blue {
              background-color: #395fb0;
              border-radius: 5px;
              color: #fff;
              padding: 3px 6px;
            }
          }
        }
      }
      &_buttons {
        width: 450px;
        .btn-bg-blue {
          background-color: #395fb0;
          border-radius: 8px;
          color: #fff;
          padding: 10px 20px;
          display: flex;
          align-items: center;
          gap: 5px;
          flex-direction: column;
          margin-bottom: 10px;
          font-weight: 600;
          text-align: center;
          @include fontSize(15px);
        }
        .btn_1 {
          flex: 1;
          padding: 10px 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 20px;
          font-size: 16px;
          background-color: $third-color;
          border: 1px solid $third-color;
          border-radius: 8px;
          &.transparent {
            background-color: transparent;
            border: 1px solid #464e5a;
            color: #464e5a;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2px;
            @include fontSize(15px);
            i {
              @include fontSize(20px);
              line-height: 1;
            }
            span {
              color: #464e5a;
            }
          }
        }
        .btn_full {
          margin-bottom: 15px;
        }
      }
    }
  }

  &_footer {
    background-color: #f5f6f8;
    border-radius: 15px;
    display: flex;
    padding: 15px;
    h5 {
      @include fontSize(16px);
      font-weight: 500;
      color: #000;
    }
    i {
      color: $third-color;
    }
    @include mobile {
      flex-direction: column;
    }
    &_images {
      position: relative;
      width: 36%;
      padding-right: 50px;
      text-align: center;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 15px;
      @include mobile {
        width: 100%;
        padding-bottom: 30px;
        padding-right: 0;
      }
      img {
        width: 100%;
        height: 100px;
        object-fit: cover;
        border-radius: 5px;
      }
      &_button {
        @include fontSize(14px);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 5px;
        width: 35px;
        height: 35px;
        border-radius: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        color: $third-color;
        @include mobile {
          top: 43%;
        }
      }
    }
    &_reviews {
      padding: 10px 50px;
      flex: 1;
      border-left: 2px solid #e4e5e7;
      border-right: 2px solid #e4e5e7;
      @include mobile {
        padding-top: 10px;
        padding-right: 20px;
        padding-left: 20px;
        border-left: none;
        border-right: none;
        border-top: 2px solid #e4e5e7;
        border-bottom: 2px solid #e4e5e7;
      }
    }
    &_services {
      padding: 10px 50px;
      flex: 1;
      @include mobile {
        padding-top: 10px;
        padding-right: 20px;
        padding-left: 20px;
      }
      .list-disc {
        list-style-type: disc;
        padding-left: 20px;
        li:not(:last-child) {
          margin-bottom: 16px;
        }
      }
    }
  }
}
