.listing {
  padding: 30px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  &:not(:last-child) {
    margin-bottom: 30px;
  }
  &_main {
    margin-bottom: 20px;
    display: flex;
    gap: 25px;
    @include mobile {
      flex-direction: column;
    }
    figure {
      width: 35%;
      height: 100%;
      max-height: 170px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      img {
        width: 100%;
        max-width: 220px;
        height: 100%;
      }
      @include mobile {
        width: 100%;
        max-height: 150px;
      }
    }
    &_content {
      width: 65%;
      @include mobile {
        width: 100%;
      }
      ul {
        li {
          &:not(:last-child) {
            margin-bottom: 5px;
          }
        }
      }
      &_buttons {
        display: flex;
        gap: 15px;
        .btn_1 {
          flex: 1;
          padding: 15px 20px;
          display: flex;
          align-items: center;
          justify-content: start;
          gap: 20px;
          font-size: 16px;
          background-color: #395fb0;
        }
      }
    }
  }
  &_footer {
    background-color: #f5f6f8;
    border-radius: 15px;
    display: flex;
    padding: 15px;
    h5 {
      @include fontSize(16px);
      font-weight: 500;
      color: #000;
    }
    i {
      color: $third-color;
    }
    @include mobile {
      flex-direction: column;
    }
    &_images {
      position: relative;
      width: 36%;
      padding-right: 15px;
      text-align: center;
      border-right: 2px solid #e4e5e7;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 15px;
      @include mobile {
        width: 100%;
        border-right: none;
        border-bottom: 2px solid #e4e5e7;
        padding-bottom: 30px;
      }
      img {
        width: 100%;
        height: 70px;
        object-fit: cover;
        border-radius: 5px;
      }
      &_button {
        @include fontSize(14px);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 5px;
        width: 35px;
        height: 35px;
        border-radius: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        color: $third-color;
        @include mobile {
          top: 43%;
        }
      }
    }
    &_reviews {
      padding: 10px 20px;
      flex: 1;
      @include mobile {
        padding-top: 30px;
      }
      .ratings {
        flex: 1;
        &_rate {
          font-weight: 500;
        }
        &_total {
        }
      }
      .rating_placeholder {
        flex: 1;
      }
      ul {
        margin: 0;
        li {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
