.nav-tabs-custom {
  border: none;
  justify-content: center;
  li:last-child {
    .nav-link {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      margin-left: -2px;
    }
  }
  li:first-child {
    .nav-link {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      margin-right: -2px;
    }
  }
  .nav-link {
    padding: 15px 32px;
    @include fontSize(19.2px);
    line-height: 24px;
    border: 2px solid #254176;
    border-radius: 0;
    color: #fff;
    z-index: 1;
    &:hover {
      background-color: #041c4e;
      border-color: #26448b;
    }
    &.active {
      border: 2px solid #2b4cc5 !important;
      color: #fff;
      background-color: #0a2daa;
    }
  }
}
