.pricing {
  &-header {
    text-align: center;
    color: #fff;
    &-features {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 24px;
      font-size: 24px;
      font-weight: 500;
      margin-top: 40px;
      margin-bottom: 70px;
    }
  }
  .upper-title {
    font-weight: 600;
    letter-spacing: 2px;
  }
  h1 {
    text-align: center;
    color: #fff;
    max-width: 890px;
    margin-inline: auto;
  }
  &-background {
    background-image: linear-gradient(to right, #041962, #000003);
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: calc(100vh + 30px);
    left: 0;
    top: 0;
    z-index: -1;
  }
  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
    margin-top: 50px;
  }
  &-card {
    border: 2px solid #dfe5eb;
    border-radius: 15px;
    background-color: #fff;
    padding: 32px 20px;
    width: calc(25% - 16px);
    transition: all 1s ease;
    @include tablet {
      width: calc(50% - 16px);
    }
    @include mobile {
      width: 100%;
    }
    &:hover {
      border-color: $primary-color;
    }
    &.active {
      border-color: $primary-color;
    }
  }
  &-header {
    text-align: center;
    &-icon {
      margin-bottom: 15px;
    }
    h2 {
      color: #080808;
      text-align: center;
      letter-spacing: 0;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 100%;
      margin-bottom: 15px;
    }
    .sub-title {
      font-size: 1.12rem;
      font-weight: 500;
      line-height: 130%;
      margin-bottom: 30px;
      color: #000;
    }
    .price {
      color: #080808;
      margin-bottom: 20px;
      .currency {
        @include fontSize(24px);
        font-weight: 500;
      }
      .price-value {
        @include fontSize(56px);
        font-weight: 400;
        line-height: 100%;
        &-decimal {
          @include fontSize(32px);
          font-weight: 500;
        }
      }
      .price-duration {
        @include fontSize(24px);
        font-weight: 500;
      }
    }
  }
  &-billed {
    color: #7a92a5;
    font-weight: 400;
    font-size: 1.12rem;
    margin-bottom: 10px;
  }
  &-fee {
    border-top: 2px solid #dfe5eb;
    border-bottom: 2px solid #dfe5eb;
    width: 100%;
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.12rem;
    color: #080808;
    margin-bottom: 15px;
    .price-old {
      color: #fe0532;
      text-decoration: line-through;
    }
  }
  &-body {
    &-button {
      background-color: $third-color;
      color: #fff;
      border: none;
      width: 100%;
      @include fontSize(18.4px);
      border-radius: 10px;
      padding: 16px 48px;
      font-weight: 600;
      margin-bottom: 20px;
      line-height: 16px;
      &-save-bill {
        background-color: transparent;
        border: none;
        padding: 0;
        text-align: center;
        width: 100%;
        @include fontSize(14.4px);
        font-weight: 500;
        margin-bottom: 30px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .label-list {
      color: #7a92a5;
      font-weight: 500;
      font-size: 1.12rem;
      text-align: center;
      margin-bottom: 15px;
    }
    &-features {
      li {
        @include fontSize(17.92px);
        margin-bottom: 10px;
        display: flex;
        gap: 10px;
        align-items: start;
      }
    }
  }
}
